--- 
--- 
@import "{{ site.theme }}";


/* HERO HEADER */
.page-header {
    background-size: cover;
    background-image: none !important;
    background-color: #c2c21b !important;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 20px;
    height: 40px;
}

.page-header {
    .btn {
        display: none !important;
    }
}

/* CONTENT WIDTH */
.main-content {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    color: #333333;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #333333;
    }
}

/* BUTTONS */

h3 {
    font-weight: 700;
}

.button-row {
    margin: 30px 0;
}

.btn-link {
    display: inline-block;

    margin: 8px;

    padding: 10px 18px;

    background: #26afd9;

    color: white;

    text-decoration: none;
    text-align: center;
    border-radius: 6px;
}



.btn:hover {
    background: #1565c0;
}

/* IMAGES */
img {
    max-width: 100%;
    border-radius: 8px;
    margin: 25px 0;
}

/* HEADINGS */
h1 {
    margin-top: 40px;
}

h2 {
    // border-bottom: 2px solid #ececec;
    padding-bottom: 8px;
}

/* TABLES */
table {
    width: 100%;
}

/* CODE */
pre {
    border-radius: 8px;
}


// ===
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project-card {
    display: block;
    padding: 18px 20px;
    border-radius: 12px;
    background: #ffffff;
    border: 1px solid #e5e7eb;
    text-decoration: none;
    color: #111;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover {
    transform: translateY(-1px);
    text-decoration: none;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #155799;
}

.project-card p {
    margin: 0 0 12px;
    color: #444;
}

.tags {
    font-size: 12px;
    color: #666;
}

.info-card {
    display: block;
    padding: 18px 20px;
    border-radius: 12px;
    background: #ffffff;
    border: 1px solid #e5e7eb;
    text-decoration: none;
    color: #111;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}



/* HERO */

.hero {

    text-align: center;

    padding: 80px 20px;

}





/* CARD */

.card {

    background: white;

    border-radius: 12px;

    overflow: hidden;

    box-shadow: 0 8px 20px rgba(0, 0, 0, .08);

    transition: .3s;

}

.card:hover {

    transform: translateY(-6px);

    box-shadow: 0 15px 35px rgba(0, 0, 0, .15);

}

.card img {

    width: 100%;

    height: 250px;

    object-fit: cover;

    margin: 0;

    border-radius: 0;

}


.project-button {

    display: block;

    margin: 8px;

    padding: 10px 18px;

    background: #3c77d4;

    color: white;

    text-decoration: none;
    text-align: center;
    border-radius: 6px;

}

.project-button:hover {

    background: #50d4e0;

}

.card-detail {
    padding: 12px;
    background: #ffffff;
}

.card h3 {
    font-weight: 600;
    padding: 0 8px;
    margin: 0 !important;

}

.card p {

    padding: 8px;
    margin: 0 !important;

}
