--- 
--- 
@import "{{ site.theme }}";


/* HERO HEADER */
.page-header {
    background-size: cover;
    background-image: none !important;
    background-color: #FF7B00;
    background-image: linear-gradient(to right, #FF7B00, #f8d680) !important;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 20px;
    height: 10px;
}

.page-header {
    .btn {
        display: none !important;
    }
}

/* CONTENT WIDTH */
.main-content {
    max-width: 1100px;
    margin: auto;
    padding: .25rem 2rem;
    color: #333333;
    background: white;


    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #333333;
    }

  
}
